.center {
  text-align: center;
}

.joke {
  margin-left: 10%;
  font-family: monospace, serif;
}

.joke-count {
  font-family: 'Courier New', Courier, monospace;
  margin-left: 10px;
}

.joke > .setup {
  font-weight: bold;
  font-size: 1.2rem; 
  margin-bottom: 5px;
}

.joke > .punchline {
  margin-top: 5px;
  margin-left: 3%;
}